:root{
  --btn-background-color:antiquewhite;
  --btn-color:  chocolate;
  --secondary-color:  antiquewhite;
  --heading-font-family: 'Antonio', sans-serif;
  --default-font-family:'Poppins', sans-serif;
}

body{
  font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font-family);
  color: chocolate;
  font-weight: bold; 
}

h1{
  font-size: 96px;
  line-height: 1.5;
}

h2{
  font-size: 64px;
}

p{
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero{
  background-color: var(--secondary-color);  
  text-align: center;
  padding: 160px 20px;
}

.hero p{
  font-family: 'Antonio', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2{
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: black;
}

.content-container{
  padding: 160px 20px;
}

.content{
  text-align: center;
  padding: 0;
}

.content h1{
  font-size: 64px;
  line-height: 80px;
}

.content h2{
  font-size: 18px;
  font-family: var(--default-font-family);
  color: black;
}

.content h3{
font-size: 24px;
line-height: 1.5;
margin: 20px 0 0;
font-family: var(--default-font-family);
}

.content p{
  font-size: 14px;
}

.content{
  margin: 10px;
}

.hero .btn{
  background-color: var(--btn-color);
  border-radius: 4px;
  color:var(--btn-background-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-color: var(--btn-color);
}

.hero .btn:hover{
  background-color: var(--btn-background-color);
  color: var(--btn-color);
}

.btn-branding-outline{
  background-color: var(--btn-background-color);
  border-radius: 4px;
  color:var(--btn-color);
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
  border-color: var(--btn-color);
}

.btn-branding-outline:hover{
  background-color:var(--btn-color);
  color: var(--btn-background-color);
}

.project-description{
  padding: 120px 60px;
  background-color: var(--btn-background-color);
  border-radius: 10px;
}

.navbar-bg-color{
  background-color: var(--btn-color);    
  text-align: center;
}

.navbar-light .navbar-brand{
  color:var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link{
  color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link .active{
  color: black;
}

.navbar-light .navbar-nav .nav-linkv .active:hover{
  color: black;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;  
}

img{
  margin-left: 20px;  
}

.icon-logo {
  display: block;
  width: 50px;
 
}

.foto{  
  border-radius: 20px;
}

li{
  list-style: none;
}

footer{    
  background-color: var(--btn-color);  
}

footer .contact-link a{
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
}

footer .contact-link a:hover{
  color: black;
}


footer p{
  color: var(--secondary-color);
  font-size: 18px;
}

footer .social-link i{
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  margin: 0 20px;
}

footer .social-link i:hover{
  color: black;
}

footer .open-sourced-link{
  text-decoration: none;
  color: black;
}

footer .open-sourced-link:hover{
  color: var(--secondary-color);
}

@media (max-width:900px) {
  .hero{
    padding: 90px 20px;    
  }
  .hero p{
    font-size: 30px;
  }
  .hero h1{
    font-size: 48px;
    line-height: 2;
  }
  .hero h2{
    font-size: 30px;
  }
  .content-container{
    padding: 80px 20px;
  }
  .content-container h1{
    font-size: 40px;
    line-height: 1.5;
  }
  .contact-link h2{
    font-size: 36px;
  }
  .project-section h2{
    font-size: 36px;
  }
  
  .project-description{
    padding: 0;
    text-align: center;
  }

  img .icons{
    max-width: 20px;
  }
}
  
